<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block 标题 %}我的待办清单{% endblock 标题 %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
    <style type="text/css">
    	#topnav{
    		font-size: 1.35em;
    		padding-left: 5em;
    		height: 2em
    	}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" id="topnav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% block 主页高亮 %}{% endblock 主页高亮 %}" href="{% url 'todolist:主页' %}">代办清单</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  {% block 关于高亮 %}{% endblock 关于高亮 %}" href="{% url 'todolist:关于本站' %}">关于本站</a>
          </li>
        </ul>
        <!-- 点击提交，将todo_add这个input的值，以POST method提交到action地方去 -->
        <form class="form-inline mt-2 mt-md-0" method="POST" action="">
          {% csrf_token %}
          <input name="todo_add" class="form-control mr-sm-2" type="text" placeholder="代办事项" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">添加</button>
        </form>
      </div>
    </nav>
	<main>
	  {% block 主体 %}
	  	
	  {% endblock 主体 %}
  	</main>
	  <!-- Bootstrap core JavaScript
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	  </script>
  </body>
</html>
